.register {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

.input {
    padding: 4px;
}

.button {
    padding: 2px 8px;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: black;
}