

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, 
body {
  max-width: 100vw;
  overflow-x: hidden;
} 



a{
  color: inherit;
  text-decoration: none;
}


.navbar {
  width: 100%;
  height: 60px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}